/*
css-sprite
---------------------------------------------*/
/*.img{background:url(../img/img.png)  no-repeat;}*/
/*.lambda{height:21px;width:18px;background-position:0 0;}*/
/*.go{height:26px;width:19px;background-position:-18px 0;}*/
/*.code{height:20px;width:20px;background-position:-37px 0;}*/
/*.design{height:23px;width:21px;background-position:-57px 0;}*/
/*.doc2{height:26px;width:22px;background-position:-78px 0;}*/
/*.s3{height:23px;width:25px;background-position:-100px 0;}*/
/*.python{height:23px;width:25px;background-position:-125px 0;}*/
/*.github{height:26px;width:26px;background-position:-150px 0;}*/
/*.java{height:32px;width:26px;background-position:-176px 0;}*/
/*.slack{height:26px;width:26px;background-position:-202px 0;}*/
/*.js{height:28px;width:28px;background-position:-228px 0;}*/
/*.medium{height:25px;width:28px;background-position:-256px 0;}*/
/*.twitter{height:24px;width:28px;background-position:-284px 0;}*/
/*.apache{height:21px;width:28px;background-position:-312px 0;}*/
/*
#General
---------------------------------------------*/
a:hover {
  text-decoration: none;
}
a,
a:hover {
  color: #333;
}
.section {
  background-color: #f1f1f1;
  padding: 80px 0;
  text-align: center;
}
.section-white {
  background-color: #fff;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*
#Header
---------------------------------------------*/
#header {
  background-color: #2E353B;
}
.h-top {
  padding: 35px;
  overflow: hidden;
}
.h-links {
  float: right;
}
.h-links > a {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  text-align: center;
  min-width: 68px;
}
.h-links > a:hover {
  color: #fff;
}
.h-links > a:before {
  content: "";
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
a.docs:before {
  background-image: url("../img/icons/doc2.png");
}
a.github:before {
  background-image: url("../img/icons/github.png");
}
a.twitter:before {
  background-image: url("../img/icons/twitter.png");
}
a.blog:before {
  background-image: url("../img/icons/medium.png");
}
a.slack:before {
  background-image: url("../img/icons/slack.png");
}
.h-links > a > small {
  display: block;
}
#header .h-main {
  margin-top: 60px;
  padding-left: 0;
}
.h-main > .col-md-6:first-child {
  margin-top: 46px;
}
.h-logo {
  float: left;
  margin-bottom: 20px;
}
.h-logo img {
  width: 80px;
}
.h-text {
  padding-left: 30px;
  float: left;
  width: 85%;
}
.h-text h2 {
  color: #f1f1f1;
  margin-top: 0;
}
.h-text p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
  font-size: 16px;
}
.h-text .h-console {
  width: 90%;
  max-width: 400px;
  min-height: 62px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 24px;
  color: #fff;
  line-height: 1;
  margin-bottom: 24px;
}
.h-text .h-btn {
  margin-bottom: 40px;
  letter-spacing: -3px;
}
.h-text .h-btn .btn-link {
  width: 30%;
  width: 140px;
  min-height: 46px;
  background-color: #f1f1f1;
  padding: 14px 20px;
  display: inline-block;
  color: #2e353b;
  line-height: 1.3;
  letter-spacing: 0;
  margin: 0 10px 10px 0;
  border-radius: 2px;
  text-decoration: none;
}
.h-text .h-btn .btn-link i {
  font-size: 18px;
  padding-right: 8px;
}
@media screen and (max-width: 1200px) {
  .h-links {
    float: none;
    text-align: center;
  }
  .h-main .col-md-6 {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .h-main .col-md-6:first-child {
    margin-top: 0;
  }
  .h-logo {
    width: 100%;
    float: none;
  }
  .h-text {
    margin: 0 auto;
    float: none;
    padding-left: 0;
  }
  .h-console {
    margin: 0 auto;
  }
}
/*
#Minio
---------------------------------------------*/
.section .container {
  padding-right: 15px;
}
.section h2 {
  margin: 0 0 60px 0;
}
#minio {
  padding-bottom: 40px;
}
#minio h2 {
  margin-bottom: 20px;
}
.minio-intro {
  margin-bottom: 70px;
}
.minio-box {
  margin-bottom: 60px;
}
.minio-icon {
  width: 54px;
  height: 54px;
  background-color: #ff8f00;
  border-radius: 50%;
  position: relative;
  float: left;
}
.minio-icon:after {
  content: "";
  position: absolute;
  background: url("../img/icons/s3.png") 50% 50% no-repeat;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}
.icon2 {
  background-color: #ef5350;
}
.icon2:after {
  background-image: url("../img/icons/design.png");
}
.icon3 {
  background-color: #ca0739;
}
.icon3:after {
  background-image: url("../img/icons/apache.png");
}
.icon4 {
  background-color: #2196f3;
}
.icon4:after {
  background-image: url("../img/icons/lambda.png");
}
.icon5 {
  background-color: #607d8b;
}
.icon5:after {
  background-image: url("../img/icons/code.png");
}
.icon6 {
  background-color: #00bcd4;
}
.icon6:after {
  background-image: url("../img/icons/go.png");
}
.minio-text {
  float: left;
  width: 80%;
  text-align: left;
  margin-left: 20px;
}
.minio-text h4 {
  margin: 0 0 16px;
}
@media screen and (max-width: 1200px) {
  .minio-text {
    width: 75%;
  }
}
/*
#Audience
---------------------------------------------*/
.a-tab {
  margin-bottom: 40px;
  display: inline-block;
}
.a-tab li {
  float: left;
}
.a-tab li a {
  width: 138px;
  border: 1px solid #2E353B;
  display: inline-block;
  padding: 13px 20px;
  font-size: 17px;
}
.a-tab .active a {
  background-color: #2e353b;
  color: #fff;
}
.a-tab li:first-child a {
  border-radius: 2px 0 0 2px;
}
.a-tab li:last-child a {
  border-radius: 0 2px 2px 0;
}
.tab-content .tab-pane {
  display: none;
}
.tab-content .active {
  display: block;
}
.bro-video {
  position: relative;
}
.bro-pre > img {
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
@media screen and (max-width: 478px) {
  .a-tab li a {
    width: auto;
  }
}
/*
#Footer
---------------------------------------------*/
.footer {
  background-color: #2e353b;
  padding: 54px;
}
.footer .f-link {
  display: inline-block;
}
.footer .f-link li {
  float: left;
  color: #60666a;
  padding-right: 10px;
}
.footer .f-link li a {
  color: #969a9d;
}
.footer .f-addr {
  display: block;
  font-size: 15px;
  margin-top: 15px;
  color: #969a9d;
}
.footer .f-addr i {
  color: #f15a24;
  margin-right: 4px;
}
